$clr-primary: #d5baff;
$clr-onPrimary: #3d1c6f;
$clr-primaryContainer: #553587;
$clr-onPrimaryContainer: #ecdcff;
$clr-background: #1d1b1e;
$clr-onBackground: #e6e1e6;
$clr-secondary: #cec2db;
$clr-onSecondary: #342d40;

::selection {
  background-color: $clr-primary;
  color: $clr-onPrimary;
}

::-webkit-scrollbar {
  background-color: $clr-primary;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: $clr-onPrimary;
  border-radius: 999px;
  border: $clr-primary 2px solid;
}

html {
  font-family: system-ui;
  background-color: $clr-background;
  color: $clr-onBackground;
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  line-height: 1.3;
}

h2, summary {
  margin-block: 30px 0;
  border-bottom: 2px solid $clr-primary;
}


aside {
  text-align: center;
  font-size: 1.5em;
}

body {
  min-height: 100vh;
  margin: 0;
  border-radius: 13px;
  padding-inline: 10%;
}

section {
  max-width: 800px;
  margin-inline: auto;
}

a {
  color: $clr-primary;
  font-weight: 500;
}

span {
  color: #381e80;
  background-color: #c1b6e6;
  font-size: 1.3em;
  border-radius: 50%;
}

details {
  margin-top: 40px;
}

summary {
  font-size: 1.63rem;
  font-weight: bold;

  & ~ a {
    display: block;
  }
}