// https://m3.material.io/theme-builder#/custom (primary is #c0a8e6 · rest is default)
$clr-primary: #d5baff;
$clr-onPrimary: #3d1c6f;
$clr-primaryContainer: rebeccapurple;
$clr-onPrimaryContainer: #ecdcff;
$clr-background: #1d1b1e;
$clr-onBackground: #e6e1e6;
$clr-secondary: #cec2db;
$clr-onSecondary: #342d40;

body {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow: hidden; // Chrome :(
  -webkit-tap-highlight-color: transparent; // Chrome mobile blue highlight on interactive elements :(
  user-select: none;
  background-color: $clr-background; // body is visable on the border-radius of .menu
}

button,
a {
  color: inherit;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
}

::selection {
  background-color: $clr-primary;
  color: $clr-onPrimary;
}

::-webkit-scrollbar {
  background-color: $clr-primary;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: $clr-onPrimary;
  border-radius: 999px;
  border: $clr-primary 2px solid;
}

#type {
  font-family: inherit;
  box-sizing: border-box;
  height: calc(100vh - 55px);
  height: calc(100dvh - 55px);
  background-color: $clr-background;
  color: $clr-onBackground;
  border: none;
  padding: 0 8%;
  unicode-bidi: plaintext;
  outline: none;
  resize: none;
  margin: 0;
  position: relative;
}

.about {
  position: absolute;
  top: calc(100vh - 85px);
  top: calc(100dvh - 85px);
  right: 10px;
  color: #9dffa4;
  text-decoration: none;

  &:hover,
  &::selection {
    text-decoration: underline;
  }

  &:focus-visible {
    outline: 3px solid #8f80e2;
  }
}

.menu {
  height: 45px;
  padding: 5px;
  border-radius: 16px;
  display: flex;
  background-color: $clr-primaryContainer;
  // overflow-x: auto;

  // Chrome mobile is weird. 👇️
  position: absolute;
  inset: 0;
  top: calc(100vh - 55px);
  top: calc(100dvh - 55px);

  button:active {
    transition: scale 200ms;
    scale: 0.9;
  }
}

.count {
  margin-right: auto;
  display: flex;
  color: $clr-onSecondary;
  white-space: nowrap;
  max-width: 160px;
  overflow-x: auto;
  // overflow-y: hidden;
  background-color: $clr-secondary;
  border: none;
  border-radius: 11px;
  cursor: pointer;

  p {
    max-width: 200px;
    display: flex;
    align-items: center;
  }
}

#zoom {
  // outline: 2px solid $clr-secondary;
  width: max-content;

  button {
    background-color: $clr-primary;
    fill: $clr-onPrimary;
    cursor: pointer;
    border: none;
  }
}

#zoomOut:hover>svg {
  animation: zoomOut 600ms ease-in-out 2;
}

@keyframes zoomOut {
  50% {
    scale: 0.8;
  }
}

#zoomIn:hover>svg {
  animation: zoomIn 600ms ease-in-out 2;
}

@keyframes zoomIn {
  50% {
    scale: 1.2;
  }
}

.menuItem {
  border-radius: 11px;
  background-color: $clr-primary;
  fill: $clr-onPrimary;
  cursor: pointer;
  border: none;
  width: 45px;
  height: 45px;
  margin-inline-start: 2.5px;

  svg {
    width: 80%;
    height: auto;
  }

  &:focus-visible {
    // outline: 3px solid $clr-onPrimary;
    outline: 4px solid #000000;
    scale: 1.1;
    transition: scale 200ms;

  }
}

.rotater svg {
  rotate: 180deg;
  transition: rotate 450ms;
}

.rotater:hover svg {
  rotate: 155deg;
}

#rotate:checked~textarea {
  rotate: 180deg;
}

#rotate:checked~.menu .rotater svg {
  rotate: 0deg;
}

#rotate:checked~.menu .rotater:hover svg {
  rotate: -25deg;
}

#rotate {
  position: absolute;
  opacity: 0;
  cursor: text;
}

#open svg {
  transition: transform 200ms;
  // rotate: 0;
}

#open:hover svg {
  transform: rotate(-0.05turn) scale(0.9);
}

#open[data-state="open"] svg {
  transform: rotate(0.5turn) scale(1.1);
}

#open[data-state="open"]:hover svg {
  transform: rotate(0.55turn) scale(1.2);
}


.moreSettings {
  position: fixed;
  right: 15px;
  background-color: $clr-onPrimary;
  color: $clr-primary;
  border-radius: 16px;
  bottom: 60px;
  padding: 0;

  ul {
    background-color: $clr-primary;
    color: $clr-onPrimary;
    border-radius: 11px;
    padding: 5px;
    margin: 5px;
    list-style-type: none;

    li {
      border-radius: 11px;
      padding: 5px;
      cursor: pointer;

      button,
      a {
        display: block;
        background-color: inherit;
        color: inherit;
        border: none;
        border-radius: 8px;
        padding: 5px 10px;
        cursor: pointer;
      }

      &:hover {
        color: $clr-primary;
        background-color: $clr-onPrimary;
      }
    }
  }
}