// https://m3.material.io/theme-builder#/custom (primary is #c0a8e6 · rest is default)
$clr-primary: #d5baff;
$clr-onPrimary: #3d1c6f;
$clr-primaryContainer: #553587;
$clr-onPrimaryContainer: #ecdcff;
$clr-background: #1d1b1e;
$clr-onBackground: #e6e1e6;
$clr-secondary: #cec2db;
$clr-onSecondary: #342d40;

body {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow: hidden; // Chrome :(
  -webkit-tap-highlight-color: transparent; // Chrome mobile blue highlight on interactive elements :(
  user-select: none;
  background-color: $clr-background; // body is visable on the border-radius of .menu
}

::selection {
  background-color: $clr-primary;
  color: $clr-onPrimary;
}

::-webkit-scrollbar {
  background-color: $clr-primary;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: $clr-onPrimary;
  border-radius: 999px;
  border: $clr-primary 2px solid;
}

#type {
  font-family: inherit;
  box-sizing: border-box;
  height: calc(100vh - 55px);
  height: calc(100dvh - 55px);
  background-color: $clr-background;
  color: $clr-onBackground;
  border: none;
  padding: 0 8%;
  unicode-bidi: plaintext;
  outline: none;
  resize: none;
  margin: 0;
  position: relative;
}

.about {
  position: absolute;
  top: calc(100vh - 85px);
  top: calc(100dvh - 85px);
  right: 10px;
  color: greenyellow;
  text-decoration: none;

  &:hover,
  &::selection {
    text-decoration: underline;
  }

  &:focus-visible {
    outline: 3px solid #8f80e2;
  }
}

.menu {
  height: 45px;
  padding: 5px;
  border-radius: 13px 13px 0 0;
  display: flex;
  background-color: $clr-primaryContainer;
  overflow-x: auto;

  // Chrome mobile is weird. 👇️
  position: absolute;
  inset: 0;
  top: calc(100vh - 55px);
  top: calc(100dvh - 55px);

  button:active {
    transition: scale 200ms;
    scale: 0.9;
  }
}

.count {
  margin-right: auto;
  display: flex;
  // gap: 20px;
  color: $clr-onPrimaryContainer;
  white-space: nowrap;
  max-width: 160px;
  overflow-x: auto;
  p {
    max-width: 200px;
  }
}

#zoom {
  // outline: 2px solid $clr-secondary;
  width: max-content;
  button {
    border-radius: 50%;
    background-color: $clr-primary;
    fill: $clr-onPrimary;
    cursor: pointer;
    border: none;
  }
}

#zoomOut:hover>svg {
  animation: zoomOut 600ms ease-in-out 2;
}

@keyframes zoomOut {
  50% {
    scale: 0.8;
  }
}

#zoomIn:hover>svg {
  animation: zoomIn 600ms ease-in-out 2;
}

@keyframes zoomIn {
  50% {
    scale: 1.2;
  }
}

.menuItem {
  border-radius: 13px;
  background-color: $clr-primary;
  fill: $clr-onPrimary;
  cursor: pointer;
  border: none;
  width: 45px;
  height: 45px;

  svg {
    width: 80%;
    height: auto;
  }
  &:focus-visible {
    outline: 3px solid $clr-onPrimary;
  }
}

.menuItem+.menuItem,
#zoom {
  margin-inline-start: 0.25vw;
}

.rotater svg {
  rotate: 180deg;
  transition: rotate 450ms;
}

.rotater:hover svg {
  rotate: 155deg;
}


#rotate:checked~textarea {
  rotate: 180deg;
}

#rotate:checked~.menu .rotater svg {
  rotate: 0deg;
}

#rotate:checked~.menu .rotater:hover svg {
  rotate: -25deg;
}

#rotate {
  position: absolute;
  opacity: 0;
  cursor: text;
}